body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#rev-comp-button {
    margin: 3em;
    color: white;
    background-color: black;
    border:none;
    padding: 10px;
}

#output-div {
    display: block;
    margin-top: 3em;
}